body{
	background: linear-gradient(to right, #FFEBCD,#CD853F,#FFEBCD);
	background-size: 100% 100%;
    margin: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.menu {
    font-family: comic sans ms;
    height: 80px;
    width: 100%;
    background: grey;
    font-size: 10px;
    box-shadow: 0px 2px 1px lightgrey;
    margin: 0 auto;
}

label {
    font-family: comic sans ms;
    font-size: 30pt;
    color: white;
    margin: 5px 20px 30px;
    padding: 5px;
    float: left;
    text-shadow:  2px 1px 1px whitesmoke;
}
.menu ul {
    margin: 0px;
    padding: 10px;
    background: none;
    display: block;
    float: right;
}

.menu ul li {
    list-style: none;
    display: inline-block;
}

.menu ul li a {
    font-size: 15px;
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ddd;
}

.wrap{
	width: 50%;
	margin: auto;
	color: black;
	border-radius: 10px;
	font-family: comic sans ms;
	background-color: #FF8C00;
}
.container{
	padding: 5px;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
table{
	margin: auto;
	padding-bottom: 5px;
}
table td{
	padding: 5px;
}
button{
	width: 40%;
	font-family: comic sans ms;
	height: 30px;
	background-color: #FF6347;
	border-radius: 15px;
}
